<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOK RECOMMENDATION SYSTEM</title>
    <link rel ="stylesheet" href ="/static/style_about12.css">
</head>
<body>
       <div class="banner">
            <div class="content">
                <h1>BOOK RECOMMENDATION SYSTEM</h1>
                <p>This book recommendation system recommends books present in group of data to the user according to their choices and preferences.
                   The important aspect of this website is to give correct suggestion to the user. Book recommendation system can be implemented in various ways
                   such as ,using collaborative filtering,content based filtering. Collaborative filtering is used to recommend books to user based on their 
                   similarity to other user with similar preference.Content based filtering is used to recommend books having similar content.
                </p>
                <div>
                    <button type="button" onclick="window,location.href ='top.html'"><span></span>Home</button>
                    
                </div>
            </div>
       </div>
</body>


</html>